ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: rgba(176, 212, 231, 0.822);
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size:large;
}

li a:hover {
  background-color: rgba(47, 149, 207, 0.822);
  color: white;
}